@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0
}

.section-slider {
    display: none
}

.container-card {
    display: flex;
    justify-content: flex-end;
    padding-right: 26px
}

.container-card--other {
    justify-content: flex-start;
    padding-left: 131px;
    padding-right: 0
}

.container-cards {
    max-width: 775px;
    position: relative;
    padding-left: 128px;
    padding-top: 257px;
    padding-bottom: 122px;
    padding-right: 10px
}

.title {
    font-size: 90px;
    text-transform: uppercase
}

.title--cards {
    color: #e7e7e7;
    line-height: 60px
}

.text {
    font-size: 18px;
    line-height: 28px
}

.section {
    position: relative
}

.group-image {
    position: absolute;
    display: flex
}

.group-image__element {
    z-index: 2
}

.group-image--top {
    top: 42px;
    right: 53.4649%
}

.group-image--top::after {
    content: "";
    width: 886px;
    height: 5px;
    background-color: #9172e6;
    transform-origin: 0 0;
    transform: rotate(-49deg);
    position: absolute;
    top: 687px;
    left: -20px;
    z-index: 1
}

.group-image-plus {
    position: absolute;
    top: 108px;
    left: 70px
}

.group-image-plus--other {
    top: 127px;
    left: 296px
}

.group-image-plus--more {
    top: 391px;
    left: 774px
}

.group-image--bottom {
    top: -25px;
    left: 40%
}

.group-image--bottom::before {
    content: "";
    width: 421px;
    height: 5px;
    background-color: #9172e6;
    transform-origin: 0 0;
    transform: rotate(-49deg);
    position: absolute;
    top: 387px;
    left: 655px;
    z-index: 1
}

.group-image--bottom::after {
    content: "";
    width: 425px;
    height: 5px;
    background-color: #9172e6;
    transform-origin: 0 0;
    transform: rotate(-49deg);
    position: absolute;
    top: 755px;
    left: 182px;
    z-index: 1
}

.number {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    letter-spacing: 0.9px
}

.number:after {
    content: "";
    border: 2px solid #5e42b0;
    border-radius: 2px;
    display: flex;
    flex-direction: column
}

.card {
    width: 46.011%;
    position: relative;
    z-index: 3
}

.card--top {
    margin-top: 112px
}

.card__number {
    position: absolute;
    left: 0;
    top: -3px
}

.card__number--light {
    color: #9173e6
}

.card__number--other:after {
    border: 2px solid #efefef
}

.card__number--light:after {
    border: 2px solid #ffffff
}

.card__title {
    color: #c1c1c1;
    font-size: 36px;
    line-height: 34.49px;
    letter-spacing: 1.8px;
    position: relative;
    padding-left: 31px
}

.card__title-top {
    margin-top: 94px
}

.card__title-top-other {
    margin-top: 92px
}

.card__title-medium {
    margin-top: 64px
}

.card__title-bottom {
    margin-top: 91px
}

.card__title-bottom-other {
    margin-top: 98px
}

.card__text {
    padding-top: 27px;
    letter-spacing: 1px
}

.card__text--medium {
    padding-top: 37px
}

.card__text--bottom {
    line-height: 34.49px;
    padding-top: 26px
}

.card-group {
    letter-spacing: 1px
}

.card-group-top {
    padding-bottom: 56px
}

.card-group-top--other {
    padding-bottom: 67px
}

.card-group-medium {
    background-color: #f5f4fa;
    padding-bottom: 57px
}

.card-group-medium--other {
    background-color: #f5f5f7;
    padding-bottom: 67px
}

.card-group-bottom {
    background-color: #5e42b0;
    color: #ffffff;
    padding-bottom: 98px
}

.card-group-bottom--other {
    background-color: #0a0e34;
    padding-bottom: 85px
}

.card--other {
    width: 44.248%
}

@media (max-width: 1652px) {
    .section--other {
        overflow: hidden
    }

    .group-image--bottom {
        top: 0
    }
}

@media (max-width: 1599px) {   

    .group-image__element {
        height: 699px;
        width: 433px
    }

    .group-image__element--other {
        height: 565px;
        width: 690px
    }

    .group-image--top {
        top: 94px;
        right: 64.714%
    }

    .group-image--top::after {
        width: 428px;
        top: 335px;
        left: 115px
    }

    .group-image-plus {
        left: 191px;
        top: -19px
    }

    .group-image-plus--other {
        top: 69px;
        left: 201px
    }

    .group-image-plus--more {
        display: none
    }

    .group-image--bottom {
        top: 37px;
        left: 41.927%
    }

    .group-image--bottom::before {
        display: none
    }

    .group-image--bottom::after {
        width: 419px;
        top: 472px;
        left: 155px
    }

    .container-card--other {
        padding-left: 33px
    }

    .card {
        width: 61.109%
    }

    .card--top {
        margin-top: 81px
    }

    .card__title-top {
        margin-top: 59px
    }

    .card__title-medium,
    .card__title-bottom {
        margin-top: 40px
    }

    .card__title-medium--other {
        margin-top: 63px
    }

    .card__title-bottom--other {
        margin-top: 52px
    }

    .card__text {
        font-size: 18px;
        letter-spacing: 0.9px
    }

    .card__text--medium {
        padding-top: 26px
    }

    .card-group-top {
        padding-bottom: 40px
    }

    .card-group-top--other {
        padding-bottom: 12px
    }

    .card-group-medium,
    .card-group-bottom {
        padding-bottom: 33px
    }

    .card-group-medium--other {
        padding-bottom: 65px
    }

    .card-group-bottom--other {
        padding-bottom: 50px
    }

    .card--other {
        width: 58.073%
    }
}

@media (max-width: 767px) {


    .section {
        display: none
    }

    .section-slider {
        display: block
    }

    .my-slider {
        padding-top: 240px
    }

    .my-slider .content-carousel {
        margin-bottom: 0px
    }

    .my-slider .content-carousel .slick-track {
        background-color: #f5f4f9
    }

    .my-slider .content-carousel .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 27px
    }

    .my-slider .content-carousel .slick-dots li {
        width: 10px;
        height: 10px
    }

    .my-slider .content-carousel .slick-dots li button::before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #d8d8d8
    }

    .my-slider .content-carousel .slick-dots li.slick-active button::before {
        background: #5c3caf;
        opacity: 1
    }

    .container-card {
        padding-right: 0
    }

    .container-card--other {
        justify-content: center;
        padding-left: 0
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px
    }

    .card--top {
        padding: 0;
        position: relative;
        max-width: 243px;
        margin-top: 20px
    }

    .card--top .container-card {
        max-width: 243px
    }

    .card--top-other {
        margin-top: 30px;
        max-width: 302px
    }

    .card__title {
        font-size: 28px;
        letter-spacing: 1.4px
    }

    .card__title-top,
    .card__title-medium,
    .card__title-bottom {
        margin-top: 74px
    }

    .card__text {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.75px;
        padding-top: 20px
    }

    .card__number {
        top: 3px
    }

    .card__number--other:after {
        border: 2px solid #5e42b0
    }

    .card__number--light {
        color: #000000
    }

    .card__number--light:after {
        border: 2px solid #5e42b0
    }

    .card-group {
        padding-bottom: 68px;
        background-color: #f5f4f9
    }

    .card-group-bottom {
        color: #000000
    }

    .number {
        font-size: 14px;
        line-height: 20px
    }

    .title--cards {
        font-size: 50px;
        line-height: 60px
    }

    .group-image {
        position: absolute;
        top: 70px;
        left: 51px;
        z-index: 1
    }

    .group-image__element {
        width: 173px;
        height: 281px
    }

    .group-image__element--other {
        width: 302px;
        height: 248px
    }

    .group-image::after {
        width: 268px;
        height: 3px;
        top: 213px;
        left: -5px
    }

    .group-image-plus {
        left: -18px;
        top: 11px
    }

    .group-image-plus--other {
        left: 49px;
        top: -1px
    }

    .group-image--bottom {
        left: 0;
        top: 82px
    }

    .group-image--bottom::before {
        display: block;
        width: 120px;
        height: 3px;
        top: 114px;
        left: 196px
    }

    .group-image--bottom::after {
        display: block;
        width: 143px;
        height: 3px;
        top: 232px;
        left: 49px
    }

 
}
